@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

#Qimg {
    
    margin: 20rem;  
    margin-bottom: 2rem;
    margin-top: 7rem;
    border-radius: 0.8rem;
    max-height: 60rem;
    max-width: 40rem;

}

.choice-container {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-align: right;
    display: flex;
    margin-bottom:0.5rem ;
    margin-left: 2rem;
    width: 96%;
    font-size: 1.8rem;
    border: 0.1rem solid #809ccd;
    border-radius: 0.5rem;
    background-color: #65b9ff;
    
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #8db6e7;
    transform: translateY(-0.1rem);
    transition: transform 150rem;
}
.choice-prefix {
    padding: 1.5rem 2.5rem;
    max-width: 5.5rem;
    background-color: #edf4f9;
    color: rgb(5, 86, 163);
    text-align: center;
  }
.choice-text {
    color: #ffffff;
    padding:1.5rem;
    width: 100%;
    direction:rtl;
}